html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	background: #1d1f20;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.root {
	width: 100%;
	height: 100%;
}

.logo {
	width: 200px;
	animation: rotation 2s infinite linear;
}

.label {
	padding: 20px;
	margin: 20px;
	font-family: 'Arial', serif;
}

.section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	transform: rotate(45deg);
	position: absolute;
	z-index: 11;
	cursor: pointer;
	background: none;
	border: none;
	outline: none;
	color: white;
	font-size: 32px;
	left: -30px;
	top: -30px;
}

.heart {
	background-color: red;
	display: inline-block;
	height: 100px;
	margin: 0 10px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 100px;
}

.heart:before,
.heart:after {
	content: "";
	background-color: red;
	border-radius: 50%;
	height: 100px;
	position: absolute;
	width: 100px;
	z-index: 10;
}

.heart:before {
	top: -50px;
	left: 0;
}

.heart:after {
	left: 50px;
	top: 0;
}

.clickable {
	cursor: pointer;
}

.heartRate {
	font-size: 100px;
	font-family: sans-serif;
}

.message {
	font-size: 28px;
	font-family: sans-serif;
}

.loader,
.loader:before,
.loader:after {
	background: #ff4a7b;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
	width: 1em;
	height: 4em;
}
.loader {
	margin-right: 30px;
	color: #ff4a7b;
	text-indent: -9999em;
	position: relative;
	font-size: 11px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	position: absolute;
	top: 0;
	content: '';
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}
@keyframes load1 {
	0%,
	80%,
	100% {
		box-shadow: 0 0;
		height: 4em;
	}
	40% {
		box-shadow: 0 -2em;
		height: 5em;
	}
}

.connectionContainer {
	display: flex;
	flex-direction: row;
	height: 75px;
	margin-bottom: 30px;
}